.main {
  margin-left: 30%;
  margin-top: 15%;
}
div {
  margin: 0;
}

.body {
  height: 100%;
  overflow-y: hidden;
}
.img {
  width: 100%;
  height: 700px;
}

.login-img {
  width: 120%;
  float: left;
}
span.h3 {
  text-align: left;
  font-size: xx-large;
}
center {
  width: 100%;
}

input {
  padding: 10px;
  width: 20%;
  margin-bottom: 1%;
}
.online{
  background-color: rgba(64, 224, 208, 0.493)!important;
}

/* .btn.btn-info {
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 0px 10px;
  margin-top: 5%;
} */
.total {
  align-items: center;
  background-color: turquoise;
}
.btn.btn-home {
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 28px;
  padding: 0px 10px;
  border: 1px solid black;
}
.btn.btn-home:hover {
  background-color: rgba(0, 0, 0, 0.329);
  color: whitesmoke;
}

.footer-class {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  padding: 1rem;
  background-color: #343a40;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  position: relative;
}
.btn.btn-register {
  color: black;
  background-color: rgba(207, 240, 88, 0.801);
  font-size: 20px;
}
.btn.btn-register:hover {
  background-color: black;
  color: rgba(207, 240, 88, 0.801);
}
.btn.btn-pay {
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 0px 10px;
  border: 1px solid black;
}
.btn.btn-pay:hover {
  background-color: black;
  color: white;
}
.btn.btn-watch {
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 0px 10px;
  border: 1px solid black;
  float: left;
}
.fa {
  margin-top: 3%;
  margin-left: 1%;
  font-size: 24px;
}
.btn.btn-watch:hover {
  background-color: black;
  color: white;
}
.btn.btn-comment:hover {
  background-color: black;
  color: white;
}
.btn.btn-comment {
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 0px 10px;
  border: 1px solid black;
  float: right;
}
.content {
  min-height: 100vh;
}
.cart {
  margin-top: 2%;
  margin-bottom: 2%;
}
.product-cart {
  width: 150px;
  height: 150px;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f8f9fa !important;
  bottom: 0;
  left: 0;
  width: 100%;
  position: relative;
}
.contact {
  background-color: #1794b062;
}

.addProductForm.card{margin-top: 0px;}
.col {
  margin-top: 2%;
}
h1 {
  font-style: inherit;
  font-size: 30pt;
  color: black;
  background-color: #1794b0;
  padding: 20px;
  margin-top: 0%;
}
a.linksLogin {
  font-size: 12pt;
  color: black;
  margin-bottom: 20%;
}
.card-post {
  margin-left: 15%;
  margin-top: 2%;
}
.card-commentPost {
  margin-left: -10%;
  margin-top: 2%;
}
.card-img {
  width: 250px;
  height: 250px;
}
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
.loginItem {
  float: right;
}
.form-l {
  float: right;
  margin-top: 20%;
  width: 80%;
}
.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
/*auth*/
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.img-cart {
  width: 150px;
  height: 150px;
}
.col-sm.sm {
  background-color: #fff;
  margin-top: 3%;
}
.col-sm.s {
  margin-top: 1.3%;
}

.checkout{
  background-color: #6061634b;
}
/*bootstrap css*/
.container{
  border: none;
}
.panel-footer{
  background:#fff;
}
.btn{
  border-radius: 1px;
}
.btn-sm, .btn-group-sm > .btn{
  border-radius: 1px;
}
.input-sm, .form-horizontal .form-group-sm .form-control{
  border-radius: 1px;
}



.panel-heading {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.panel {
  border-radius: 1px;
}
.panel-info > .panel-heading {
  color:#343a40 ;
 
  
}

hr {
  border-color: #999 -moz-use-text-color -moz-use-text-color;
}

.panel-footer {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top: 1px solid #999;
}

.btn-link {
  color: #888;
}

hr{
  margin-bottom: 10px;
  margin-top: 10px;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 989px){
  .span1{
      margin-bottom: 15px;
      clear:both;
  }
}

@media only screen and (max-width: 764px){
  .inverse-1{
      float:right;
  }
}

@media only screen and (max-width: 586px){
  .cart-titles{
      display:none;
  }
  .panel {
      margin-bottom: 1px;
  }
}

.form-control {
  border-radius: 1px;
}

@media only screen and (max-width: 486px){
  .col-xss-12{
      width:100%;
  }
  .cart-img-show{
      display: none;
  }
  .btn-submit-fix{
      width:100%;
  }
  
}