.App-header {
  font-family: "Roboto Slab", serif;
  background-image: url("./home-tennis.jpg");
  width: 100%;
  height: 100%;
  overflow: auto;
}

.main {
  margin-left: 30%;
  margin-top: 15%;
}

.img {
  width: 100%;
  height: 100%;
}
span.h3 {
  text-align: left;
  font-size: xx-large;
}
center {
  background-color: #3bc1df98;
  width: 100%;
}
.callout {
  max-width: 570px;
}

.callout-header {
  padding: 70px;
  background-color: #1794b088;
  color: black;
  font-size: 60px;
}

input {
  padding: 10px;
  width: 20%;
  margin-bottom: 1%;
}
.loginImg {
  width: 200px;
  height: 200px;
  margin-top: 5%;
}
a.btn.btn-info {
  color: black;
  background-color: #1794b0;
  font-size: 25px;
  padding: 0px 10px;
  margin-top: 5%;
}
a.btn.btn-register {
  color: black;
  background-color: #1794b0;
  font-size: 25px;
  padding: 0px 10px;
}
h1 {
  font-style: inherit;
  font-size: 30pt;
  color: black;
  background-color: #1794b0;
  padding: 20px;
  margin-top: 0%;
}
a.linksLogin {
  font-size: 12pt;
  color: black;
  margin-bottom: 20%;
}
.sidenav a:hover {
  background-color: #0b6579;
}
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
